html{
    background-color: rgb(49, 49, 49);
}
.tit{
    font-size:11rem;
    margin-left: 20%;
    color: blueviolet;
    font-family: "Cinzel", serif;
}
.txt2{
    display: none;
    transition: 0.5s;
}

.caixa2{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 30px;
    width:80%;
    margin-left: 7.5%;
    background-color: rgba(187, 112, 227, 0.55);
    border-radius: 5%;

}
.caixa{
    justify-content: ;
    width: 20%;
    height: 20%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15%;
    margin-bottom: 15px;

}
.img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.texto{
    margin-left: 15%;
    margin-top: -2%;
}